@import "tailwindcss";
    @import url("https://fonts.cdnfonts.com/css/liberation-serif");
    @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
    --dark-background-color: #0f0f14;

    --border-color: #1d1d1f;
    --border-color-2: #f0f0f3;
    --shadow-color: #000000;

    --non-active-white-text-color: #e8e6df;
    --grey-color: #e8e6df99;
    --accent-color: #2a4dd7;
    --accent-color-circle: #2a4dd780;
    --accent-hovered: #b9c3ff;
}
