@import "tailwindcss";
@import "main.css";
@import url("https://fonts.cdnfonts.com/css/liberation-serif");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
    --dark-background-color: #0f0f14;

    --border-color: #212127;
    --border-color-2: #f0f0f3;
    --shadow-color: #000000;

    --tiny-text: #6b6b80;

    --non-active-white-text-color: #e8e6df;
    --grey-color: #e8e6df99;

    --accent-color-circle: #2a4dd780;
    --accent-color: #2a4dd7;
    --accent-hovered: #b9c3ff;
}

h2 {
    color: var(--accent-color);

    font-size: 30px;
}

body {
    background-color: var(--dark-background-color);
    color: white;

    justify-content: center;
    align-items: center;
}

header {
    height: 80px;
    margin-bottom: 40px;
}

.main-text {
    display: flex;
    flex-direction: column;

    gap: 5px;

    margin-bottom: 68px;
}

.tiny-text {
    color: var(--tiny-text);
    width: 100%;
    height: fit-content;

    font-size: 16px;
}

.login-link {
    color: var(--accent-color);

    font-size: 16px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100%;

    gap: 24px;
}

button {
    display: flex;
    flex-direction: column;

    width: 357px;
    height: 315px;

    justify-content: center;
    align-items: center;

    gap: 32px;

    border: 1px solid var(--border-color);
    border-radius: 8px;

    transition:
        transform 0.35s ease,
        box-shadow 0.35s ease;
}

button > img {
    width: 98px;
    height: 98px;
}

button > h3 {
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;

    box-shadow: 0 20px 40px rgba(92, 105, 255, 0.08);

    transform: scale(1.05);
}

footer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 10px;
    margin-top: 20px;
}

.blue-circle-1 {
    width: 384px;
    height: 384px;
    background-color: var(--accent-color-circle);
    top: -200px;
    left: 37%;
}

.blue-circle-2 {
    width: 384px;
    height: 384px;
    background-color: var(--accent-color-circle);
    top: 103px;
    left: 80%;
}

.blue-circle-3 {
    width: 384px;
    height: 384px;
    background-color: var(--accent-color-circle);
    top: 400px;
    left: -10%;
}
